* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-style: italic;
}

header {
    font-size: 20px;
    background: #f08080;
    overflow: hidden;
}

.dark-theme {
    background: #333 !important;
    color: white !important;
}

header a {
    cursor: pointer;
    color: white;
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

header i {
    float: left;
    cursor: pointer;
    display: none !important;
}

header a:hover {
    background-color: white;
    color: black;
}

.out {
    float: right;
}


.active {
    background: #DC143C;
}


main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*justify-content: ;*/
    align-items: stretch;
    padding: 10px;
}

.box {
    border: 1px solid #DC143C;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    min-height: 100px;
    background: antiquewhite;
    padding: 20px;
    flex-grow: 3;
    margin: 5px;
}

.box > h2 {
    margin-bottom: 20px;
}

.more a {
    color: black;
    text-decoration: none;
    float: right;
}

.arrow {
    font-size: 40px;
    cursor: pointer;
}

.theme {
    z-index: 5;
    cursor: pointer;
    position: fixed;
    background: antiquewhite;
    font-size: 35px;
    border-radius: 0 40% 40% 0;
    padding: 5px 10px;
    border: 2px solid #DC143C;
    margin: 5px auto;
}

.filters{
    text-align: center;
    margin: 10px;
    padding: 5px;
    background-color: antiquewhite;
    border: 1px solid #DC143C;
}

.filter{
    margin: 5px;
    padding: 3px;
    cursor: pointer;
}

.activepage {
    background: antiquewhite;
    margin: 10px;
    border: 1px solid #DC143C;
    padding: 5px;
    position: center;
    text-align: center;
}

.pageactive {
    padding: 5px;
    margin: 5px 0 5px 5px;
    font-size: 20px;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .main-box > .box {
        width: 100%;
    }

    header a {
        width: 100%;
        padding: 5px;
    }

    .active {
        width: calc(100% - 30px)
    }

    header i#menu {
        font-size: 30px;
        width: 30px;
        cursor: pointer;
        display: block !important;
    }

    .mobile {
        display: none;
    }

    .myphoto {
        width: 50%;
        height: 80%;
    }
}

@media only screen and (min-width: 600px) {
    .mobile {
        display: block !important;
    }
}
@media print {
    * {
        color: black !important;
        background: white !important;
        box-shadow: none !important;
        border-color: black !important;
    }
}